body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: grey;/*change to black before submiting*/
  opacity: .9;
  text-align: center;
  margin: 0;
  display: block;
  line-height: 1;
}

header{
  display: flex;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  height: 69px;
  border-bottom: solid 1px seashell;
  padding: 10px;
}

.header img{
  display: inline-block;
  height: 60px;
  margin-left: 10px;

}

.header nav{
  display: inline-block;
}

nav span{
  display: inline-block;
  /*background-color: pink;*/
}

span a{
  color: seashell;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  padding: 69px;
}

.content .our-mission{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  margin: auto;
  background-image: url(/users/imac/desktop/projects/teacozy/resources/images/img-mission-background.jpg);
}

.tea-of-the-month{
  display: flex;
  flex-direction: column;
  width: 1000px;
  background-color: pink;
}

.text-content{
  align-items: center;
  background-color: black;
  width: 100%;
}

.image-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feaured-tea img{
  display: inline-block;
  height: 200px;
  width: 300px;
}

.locations{
  display: flex;
  justify-content: center;
  height: 500px;
  width: 1200px;
  background-color: blue;
}
